<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <h1>Welcome to the server trial</h1>
    <img src="/carLogo.svg" alt="" />

    <nav>
      <a href="/"> Blogs</a>
      <a href="/about">About</a>
      <a href="/blogs/create">new Bloq</a>
    </nav>
    <div>
      <h2 class="blogs">all bloqss</h2>
      <% if(blogs.length > 0) {%> <% blogs.forEach(element => { %>
      <a href="/blogs/<%= element._id %>">
        <h1><%= element.title %></h1>
        <h3><%= element.snippet %></h3>
        <span><%= element.body %></span>
      </a>
      <% }); %> <% } else{ %>
      <p>No bloqs</p>
      <% } %>
    </div>
  </body>
</html>
